input[type="text"] {
    padding: 5px;
    outline: 5px solid lightgray;
    border: none;
    border-radius: 5px;
    margin-top: 5px;

    &:focus {
        outline-color: skyblue;
    }

    &.ng-dirty.ng-invalid {
        outline-color: red;
    }

    &.ng-dirty.ng-valid {
        outline-color: limegreen;
    }
}

button {
    margin-left: 10px;
    padding: 5px;
}
